# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
openai=0.28.1
pyaudio=0.2.11
python=3.11.4
pytorch=2.0.1
numpy=1.26.0
librosa=0.10.1
